{% block content %}
    <style type="text/css">
      html { height: 100%; margin: 0; padding: 0 }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>

	<div id="map-canvas" style="width:100%; height:100%"></div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJ9hKA4Ev5QCSnMmivKusHEboGSqI55Xg&sensor=false"></script>
<script>

	var success = function(pos)
	{
		var lat, lng;
		lat = pos.coords.latitude;
		lng = pos.coords.longitude;

		createMap(lat,lng);
	};

	var createMap = function(lat,lng)
	{

		var map;
		var brooklyn = new google.maps.LatLng(lat , lng);

		var MY_MAPTYPE_ID = 'custom_style';


		var featureOpts = [
		  {
		    stylers: [
		      { hue: '#5a00c3' },
		      { visibility: 'on' },
		      { invert_lightness: 'true' },
		      { gamma: 1.9 },
		      { weight: 0.5 }
		    ]
		  },
		  {
		    elementType: 'labels',
		    stylers: [
		      { visibility: 'off' }
		    ]
		  },
		  {
		    featureType: 'water',
		    stylers: [
		      { color: '#a891c3' }
		    ]
		  }
		];

		var mapOptions = {
		  zoom: 15,
		  center: brooklyn,
		  mapTypeControlOptions: {
		    mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
		  },
		  mapTypeId: MY_MAPTYPE_ID
		};

		map = new google.maps.Map(document.getElementById('map-canvas'),
		    mapOptions);

		var styledMapOptions = {
		  name: 'Custom Style'
		};

		var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);

		map.mapTypes.set(MY_MAPTYPE_ID, customMapType);

	}


	window.navigator.geolocation.getCurrentPosition(success);

</script>

{% endblock%}